body {
	margin: 0;
	font-family: Verdana;
	font-style: normal;
	font-stretch: condensed;
	background: #222;

}

.imagenLogo {
	padding: 4px 4px;
	width: 50px;
	height: 50px;
}



.perfil {

	background-color: rgba(173, 173, 173, 0.57);
	width: 12%;
	padding:5%;
	border: double;
}

.imagenLogooo{
	width: 130%;
	height: auto;
}

.navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
.row.content {
  height: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url("../family2.jpg");
   background-repeat: no-repeat;
   background-position: center;
   background-attachment: fixed;
}
    
.sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
      background: grey;
    }
    
footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
@media screen and (max-width: 767px) {
.sidenav {
        height: auto;
        padding: 15px;
      }
.row.content {height:auto;} 
    }


.rojo {
  
  height: 200px;
  width: 75px;
  position: relative;
  float: left;
  text-align: center;
}

.verde {
  background-color: #959a9f00; 
  height: 160px;
  width: 400px;
  float: left;
  position: relative;
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);


}

.azul {
  background-color:  #959a9f00;
  height: 160px;
  width: 400px;
  position: relative;
  float: left;

}

.nativos {
  height: 300px;
  width: 900px;
}

.extranjeros{
  height: 300px;
  width: 900px;
}

.azul progress{
  width: 100%;
  position: relative;
  background: #959a9f00;
  border: #959a9f00;
}

.verde progress{
  width: 100%;
  position: relative;
  background:  #959a9f00;
  border: #959a9f00;
}

